@media (max-width: 767.98px) {
  .ap-global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }

  .ap-apropos-container {
    display: flex;
    justify-content: center;
  }

  .ap-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .info-card {
      width: 335px;
    }

    .expand-card {
      width: 315px;
    }
  }
}
